@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch+Pop&display=swap');

.text-shadow{
    color: #D4FF00;
    font-size: 55px;
    text-align: center;
    margin-top: 300px;
    text-shadow: 2px 0 0px #800040, 3px 2px 0px rgba(77,0,38,0.5), 3px 0 3px #FF002B, 5px 0 3px #800015, 6px 2px 3px rgba(77,0,13,0.5), 6px 0 9px #FF5500, 8px 0 9px #802A00, 9px 2px 9px rgba(77,25,0,0.5), 9px 0 18px #FFD500, 11px 0 18px #806A00, 12px 2px 18px rgba(77,66,0,0.5), 12px 0 30px #D4FF00, 14px 0 30px #6A8000, 15px 2px 30px rgba(64,77,0,0.5), 15px 0 45px #80FF00, 17px 0 45px #408000, 17px 2px 45px rgba(38,77,0,0.5), 13px 2px 2px rgba(206,89,55,0);
}
.box{
    height:400px;
    width: 400px;
    background-color: red;
    margin: 50px auto;
    /*box-shadow: -4px -4px 10px #7b4949, 4px 4px 10px #f80c0c;*/
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
